<section>
    <div class="spending">
        <div>Date: {{model.date}}</div>
        <div>Month: {{model.month}}</div>
        <div>Item: {{model.item}}</div>
        <div>Value: US$ {{model.value}}</div>
    </div>
</section>

{{#link-to 'spending'}}
    back
{{/link-to}}