<section>
    {{#each spent in model}}
        <div class="spending">
          <div>Date: {{spent.date}}</div>
          <div>Item: {{spent.item}}</div>
          <div>Value: US$ {{spent.value}}</div>
        </div>
    {{/each}}
</section>